<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">&nbsp;</div>
      <div class="col-sm-4">
        <h2>Login</h2> 
        <% if(message.length>0){ %>
        <div class="alert alert-danger"> 
        <%= message %>
        </div>
        <% } %>
        <form action="userlogin" method="post">
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            <% if(message && message.email){ %>
              <span class="text-danger"><%= message.email.msg %></span>
            <% } %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
            <% if(message && message.password){ %>
              <span class="text-danger"><%= message.password.msg %></span>
            <% } %>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
      <div class="col-sm-4">&nbsp;</div>
    </div>

  </div>
</body>
</html>